<div class="container">

    <progress-bar></progress-bar>

    <div class="outer-thumbs-div" ng-repeat="q in $ctrl.currentQuestions">
        <h4>{{ q.QuestionText }}</h4>

        <div class="btn-group thumbs-div">
            <input id="q{{ q.ChosenQuestionIndex }}-a1" type="radio" name="question-{{ q.ChosenQuestionIndex }}" value="1" />
            <label for="q{{ q.ChosenQuestionIndex }}-a1" class="button-neg" ng-click="$ctrl.setAnswer(1, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                <img src="core/images/thumb-down.png" />
            </label>

            <input id="q{{ q.ChosenQuestionIndex }}-a2" type="radio" name="question-{{ q.ChosenQuestionIndex }}" value="2" />
            <label for="q{{ q.ChosenQuestionIndex }}-a2" class="button-neutral" ng-click="$ctrl.setAnswer(2, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                <img src="core/images/thumb-neutral.png" />
            </label>

            <input id="q{{ q.ChosenQuestionIndex }}-a3" type="radio" name="question-{{ q.ChosenQuestionIndex }}" value="3"/>
            <label for="q{{ q.ChosenQuestionIndex }}-a3" class="button-pos" ng-click="$ctrl.setAnswer(3, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                <img src="core/images/thumb-up.png" />
            </label>
        </div>
    </div>

    <next-prev-buttons></next-prev-buttons>

</div>