<div class="container">

    <progress-bar></progress-bar>

    <h4>Testi kysymys: Milta tuntuu tehda tata kyselya lorem ipsum sit dolor amet?</h4>

    <div class="bar-rating">
        <span>Eri mielta</span>
        <span>Samaa mielta</span>
    </div>

    <div class="btn-group slider-div btns-five">
        <input type="radio" name="question-3" id="q-c1" value="1" />
        <label for="q-c1" class="slider-group-first button-neg">
        </label>
        <input type="radio" name="question-3" id="q-c2" value="2" />
        <label for="q-c2" class="button-middle-neg">
        </label>
        <input type="radio" name="question-3" id="q-c3" value="3" />
        <label for="q-c3" class="button-neutral">
        </label>
        <input type="radio" name="question-3" id="q-c4" value="4" />
        <label for="q-c4" class="button-middle-pos">
        </label>
        <input type="radio" name="question-3" id="q-c5" value="5" />
        <label for="q-c5" class="slider-group-last button-pos">
        </label>
    </div>

        <div class="btn-nav-div">
            <a class="btn btn-primary btn-lg nav-btn-prev" role="button" ng-click="previousView()">Edellinen</a>
            <a class="btn btn-primary btn-lg nav-btn-next" role="button" ng-click="setAnswers()">Seuraava</a>
        </div>
</div>