body {
    background-color: #f2f2f2;
}

#content-all {
    background-color: #fbfbf9;
    margin: 0 auto;
}

.wrap {
    min-height: calc(100vh - 68px);
    width: 100%;
}

/*
HEADER & FOOTER
***********************/

header, footer {
    background-color: #2C7CB7;
    color: white;
}

header {
    margin-top: -20px;
}

header h2, footer h3 {
    text-align: center;
}

header h2 {
    padding-top: 15px;
    padding-bottom: 20px;
}

footer {
    padding-top: 1px;
    padding-bottom: 10px;
}

/*
CONTENT-INNER #fbfbf9
***********************/
#content-inner {
    background-color: #fbfbf9;
    color: #2C7CB7;
    min-height: 550px;
    margin: 2% 4%;
}

.el-center {
    text-align: center;
}


/*
MARGINS & PADDINGS
***********************/

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-40 {
    margin-bottom: 40px;
}


/*
MEDIA QUERIES (bootstrap 3 widths)
**********************************/

@media screen and (min-width: 768px) { }

@media screen and (min-width: 992px) {

    #content-all {
        width: 992px;
        margin: 0 auto;
    }

    #content-inner {
        padding: 0 10%;
    }
}

@media screen and (min-width: 1200px) { }


