/*Frame styles*/

html,
body {
  height: 100%;
}

/*for sticky footer*/
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -55px;
  padding: 0 0 55px;
  color: #236290;
}

/*
HEADER & FOOTER
**************************/

header, footer {
    background-color: #056cb9;
    color: #fff;
}

#header-text {  
    margin-top: 15px;
    margin-bottom: 19px;   
}

footer {
  height: 55px;
}

#footer-text {
	margin-top: 17px;
}

/*
GENERAL STYLES
**************************/

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}

.line-high {
    line-height: 120%;
}

/*
PADDINGS & MARGINS
**************************/

/* padding top */
.p-t-1r {
    padding-top: 1rem;
}

.p-t-3r {
    padding-top: 3rem;
}

.p-t-5r {
    padding-top: 5rem;
}

.p-t-8r {
    padding-top: 8rem;
}

/* padding bottom */
.p-b-3r {
    padding-bottom: 3rem;
}