.borders {
  border: 1px solid red; }

.center {
  margin: 0 auto; }

.text-center {
  text-align: center; }

/*
vertical button group
**************************/
div.btn-group {
  width: 100%;
  display: block;
  margin: 16px 0 52px; }
  @media screen and (max-width: 768px) {
    div.btn-group {
      margin: 16px 0 48px; } }
  @media screen and (max-width: 480px) {
    div.btn-group {
      margin: 16px 0 44px; } }
  @media screen and (max-width: 375px) {
    div.btn-group {
      margin: 16px 0 40px; } }
  div.btn-group input[type="radio"] {
    display: none; }
  div.btn-group label {
    position: relative;
    cursor: pointer;
    box-sizing: border-box; }
  div.btn-group.slider-div label {
    background-color: #7DD181;
    border: 1.5px solid #36993b;
    border-radius: 0px;
    color: #fff;
    margin: 0 -6px 0 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    height: 44px; }
    @media screen and (max-width: 480px) {
      div.btn-group.slider-div label {
        height: 44px; } }
    @media screen and (max-width: 375px) {
      div.btn-group.slider-div label {
        height: 40px; } }
    div.btn-group.slider-div label.slider-group-first {
      border-radius: 8px 0 0 8px; }
    div.btn-group.slider-div label.slider-group-last {
      border-radius: 0 8px 8px 0; }
  div.btn-group.slider-div input[type="radio"]:hover + label {
    background-color: #6aca6f; }
  div.btn-group.slider-div input[type="radio"]:checked + label {
    background-color: #3dab42; }
  div.btn-group.slider-div span {
    width: 40px;
    position: relative;
    left: 0;
    top: 8px; }
    @media screen and (max-width: 375px) {
      div.btn-group.slider-div span {
        top: 5px; } }
  div.btn-group.smiley-div {
    display: flex;
    justify-content: space-between;
    margin: 16px auto 56px;
    width: 85%; }
    @media screen and (max-width: 768px) {
      div.btn-group.smiley-div {
        width: 90%; } }
    @media screen and (max-width: 480px) {
      div.btn-group.smiley-div {
        width: 90%; } }
    @media screen and (max-width: 375px) {
      div.btn-group.smiley-div {
        width: 100%; } }
    div.btn-group.smiley-div label {
      height: 104px;
      width: 104px;
      margin: 0;
      border-radius: 50%; }
      @media screen and (max-width: 480px) {
        div.btn-group.smiley-div label {
          height: 72px;
          width: 72px; } }
      @media screen and (max-width: 375px) {
        div.btn-group.smiley-div label {
          height: 64px;
          width: 64px; } }
      div.btn-group.smiley-div label img {
        position: relative;
        width: 96px;
        height: 96px;
        left: 4px;
        top: 4px; }
        @media screen and (max-width: 480px) {
          div.btn-group.smiley-div label img {
            width: 64px;
            height: 64px; } }
        @media screen and (max-width: 375px) {
          div.btn-group.smiley-div label img {
            width: 56px;
            height: 56px; } }
    div.btn-group.smiley-div input[type="radio"]:hover + label {
      background-color: #6aca6f; }
    div.btn-group.smiley-div input[type="radio"]:checked + label {
      background-color: #3dab42; }
  div.btn-group.thumbs-div {
    display: table; }
    div.btn-group.thumbs-div table {
      width: 100%; }
      div.btn-group.thumbs-div table tr {
        height: 80px; }
        @media screen and (max-width: 768px) {
          div.btn-group.thumbs-div table tr {
            height: 64px; } }
        @media screen and (max-width: 480px) {
          div.btn-group.thumbs-div table tr {
            height: 56px; } }
        @media screen and (max-width: 375px) {
          div.btn-group.thumbs-div table tr {
            height: 48px; } }
        div.btn-group.thumbs-div table tr td.thumbs-question {
          position: relative;
          width: 52%; }
          div.btn-group.thumbs-div table tr td.thumbs-question h4 {
            position: relative;
            text-align: left;
            margin: 0;
            padding: 0;
            top: -3px; }
        div.btn-group.thumbs-div table tr td:not(:first-child) {
          width: 16%;
          position: relative; }
    div.btn-group.thumbs-div label {
      float: right;
      position: relative;
      border-radius: 4px;
      color: #fff;
      width: 80px;
      height: 64px; }
      @media screen and (max-width: 768px) {
        div.btn-group.thumbs-div label {
          width: 60px;
          height: 48px; } }
      @media screen and (max-width: 480px) {
        div.btn-group.thumbs-div label {
          width: 50px;
          height: 40px; } }
      @media screen and (max-width: 375px) {
        div.btn-group.thumbs-div label {
          width: 44px;
          height: 35.2px; } }
      div.btn-group.thumbs-div label img {
        width: 48px;
        height: 48px;
        position: relative; }
        @media screen and (max-width: 768px) {
          div.btn-group.thumbs-div label img {
            width: 32px;
            height: 32px; } }
        @media screen and (max-width: 480px) {
          div.btn-group.thumbs-div label img {
            width: 24px;
            height: 24px; } }
      div.btn-group.thumbs-div label.thumb-down {
        background-color: #f48c72;
        border: 1.5px solid #d53811; }
        div.btn-group.thumbs-div label.thumb-down img {
          top: 4px;
          left: 12px; }
          @media screen and (max-width: 480px) {
            div.btn-group.thumbs-div label.thumb-down img {
              top: 4px;
              left: 10px; } }
          @media screen and (max-width: 375px) {
            div.btn-group.thumbs-div label.thumb-down img {
              top: 2px;
              left: 8px; } }
      div.btn-group.thumbs-div label.thumb-neutral {
        background-color: #d7c8a8;
        border: 1.5px solid #af9151; }
        div.btn-group.thumbs-div label.thumb-neutral img {
          top: 8px;
          left: 12px; }
          @media screen and (max-width: 480px) {
            div.btn-group.thumbs-div label.thumb-neutral img {
              top: 6px;
              left: 10px; } }
          @media screen and (max-width: 375px) {
            div.btn-group.thumbs-div label.thumb-neutral img {
              top: 4px;
              left: 8px; } }
      div.btn-group.thumbs-div label.thumb-up {
        background-color: #7DD181;
        border: 1.5px solid #36993b; }
        div.btn-group.thumbs-div label.thumb-up img {
          top: 8px;
          left: 12px; }
          @media screen and (max-width: 480px) {
            div.btn-group.thumbs-div label.thumb-up img {
              top: 6px;
              left: 10px; } }
          @media screen and (max-width: 375px) {
            div.btn-group.thumbs-div label.thumb-up img {
              top: 4px;
              left: 8px; } }
    div.btn-group.thumbs-div input[type="radio"]:hover + label.thumb-down {
      background-color: #f2785b; }
    div.btn-group.thumbs-div input[type="radio"]:checked + label.thumb-down {
      background-color: #ec3e14; }
    div.btn-group.thumbs-div input[type="radio"]:hover + label.thumb-neutral {
      background-color: #cfbd97; }
    div.btn-group.thumbs-div input[type="radio"]:checked + label.thumb-neutral {
      background-color: #b79c62; }
    div.btn-group.thumbs-div input[type="radio"]:hover + label.thumb-up {
      background-color: #6aca6f; }
    div.btn-group.thumbs-div input[type="radio"]:checked + label.thumb-up {
      background-color: #3dab42; }

.btns-five label {
  width: 20.2%; }
  @media screen and (max-width: 480px) {
    .btns-five label {
      width: 20.4%; } }

