/* view styles */

.not-answered {
    color: red;
    display: inline-block;
}

.not-answered-2 {
    color: red;
}

.pr-bar-div {
    max-width: 600px;
    min-width: 300px;
}

.pr-bar-cstm {
    width: 100%;
    margin: 2rem auto 0;
}

.normal-qxxxs {
    text-align: center;
    padding-top: 1.2rem;
}

.normal-qxxs {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
}

.normal-qxs {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.normal-qs {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.normal-qm {
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 1.3rem;
}

.normal-ql {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 1.3rem;
}

.normal-qxl {
    text-align: center;
    padding-top: 13vh;
    padding-bottom: 1.3rem;
}

.normal-qxl {
    text-align: center;
    padding-top: 16vh;
    padding-bottom: 1.3rem;
}

.btn-fwd-div {
    width: 100%;
    height: 130px;
    border: 1px solid red;
    position: relative;
}

.btn-fwd2 {
    position: absolute;
    left: 50%;
    margin-left: -55px;
    bottom: 50px;
}

.btn-fwd {
    position: absolute;
    left: 50%;
    margin-left: -55px;
    bottom: 120px;
}

.btn-fwd-s {
    position: absolute;
    left: 50%;
    margin-left: -67px;
    bottom: 100px;
}

.btn-next-div {
    text-align: center;
}

.btn-next {
    margin: 5rem 0;
}

.btn-next2 {
    margin: 7rem 0 5rem;
}

/*
TEST
***************************************/

.borders {
    border: 1px solid red;
}


/*
DEFAULT BTN STYLES
****************************************/

/* from bootstrap css - and modified */
.btn-default {
    color: #236290;
    background-color: #fff;
    border-color: #ccc;
}

    .btn-default:focus,
    .btn-default.focus {
        color: #236290;
        background-color: #fff;
        border-color: #2C7CB7;
    }

    .btn-default:hover {
        color: #236290;
        background-color: #fff;
        border-color: #2C7CB7;
    }

    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        color: #fff;
        background-color: #5DB75D;
        border-color: #5DB75D;
    }

        .btn-default:active:hover,
        .btn-default.active:hover,
        .open > .dropdown-toggle.btn-default:hover,
        .btn-default:active:focus,
        .btn-default.active:focus,
        .open > .dropdown-toggle.btn-default:focus,
        .btn-default:active.focus,
        .btn-default.active.focus,
        .open > .dropdown-toggle.btn-default.focus {
            color: #fff;
            background-color: #5DB75D;
            border-color: #5DB75D;
        }

    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        background-image: none;
    }

    .btn-default.disabled:hover,
    .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default:hover,
    .btn-default.disabled:focus,
    .btn-default[disabled]:focus,
    fieldset[disabled] .btn-default:focus,
    .btn-default.disabled.focus,
    .btn-default[disabled].focus,
    fieldset[disabled] .btn-default.focus {
        background-color: #fff;
        border-color: #ccc;
    }

    .btn-default .badge {
        color: #fff;
        background-color: #333;
    }

/*
VERTICAL BUTTON STYLES
****************************************/

.btn-group-vertical > .btn {
    width: 190px;
}

#q-1-div {
    max-width: 720px;
    margin: 0 auto;
}

.q-1b {
    padding-top: 2rem;
}

/*
BUTTON SLIDER VIEW
*****************************************/

.btn-slider-div {
    width: 290px;
}

.btn-slider {
    min-width: 72px;
    height: 25px;
}

.btn-slider-text-div {
    width: 100%;
    margin: 0 auto;
}

.btn-slider-text {
    color: #666666;
    font-size: 15px;
    padding-bottom: 4px;
}

.pd-text {
    color: #fff;
}




/*
QUESTION SAFETY VIEW
**********************************************/

.btn-numb-div {
    width: 100%;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.btn-number {
    width: 20%;
    /*margin-left: 2%;
    margin-right: 2%;*/
}

.btn-number-l {
    width: 20%;
    /*margin-right: 2%;*/
}

.btn-number-r {
    width: 20%;
    /*margin-left: 2%;*/
}

/*tests*/



/*
QUESTION THUMBS
**************************************/

.thumbs-div {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.btn-new {
    margin: 5px 10px;
}

.list-div {
    width: 100%;
}

.list-q {
    display: inline;
    float: left;
    margin-top: 17px;
}

.list-answer {
    display: inline;
    float: right;
}

.a-no-input {
    display: none;
    max-width: 500px;
}


/*
QUESTION SLIDER THUMBS
**********************************************/

.sl-thumb-div {
    width: 100%;
    /*border: 1px solid red;*/
}

.btn-sl-thumb {
    width: 33.3%;
}

.thumb-sign {
    padding: 10px;
}


/*
BUTTON TEST
***********************************************/

.flex-container {
    /*min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
    margin-top: 30%;
    /*border: 1px solid red;*/;
}

.flex-item {
    /*border: 1px solid red;*
}

/*
MEDIA QUERIES (bootstrap 3 widths)
***********************************************/
    @media screen and (max-width: 767px) {
        .q-1b {
            padding-top: 3rem;
        }
    }

    @media screen and (min-width: 440px) {
    }

    @media screen and (min-width: 550px) {

        .btn-slider-div {
            width: 400px;
        }

        .btn-slider {
            width: 100px;
            height: 28px;
        }

        .btn-slider-text-div {
            width: 90%;
        }

        .btn-slider-text {
            font-size: 15px;
        }

        .sm-pd-left {
            padding-left: 7%;
        }

        .btn-numb-div {
            width: 508px;
        }

        .btn-number,
        .btn-number-l,
        .btn-number-r {
            width: 90px;
            margin: 0 12px;
        }
    }


    @media screen and (min-width: 768px) {

        .q-1a {
            float: left;
        }

        .q-1b {
            float: right;
        }

        .btn-slider-div {
            width: 520px;
        }

        .btn-slider {
            width: 130px;
        }
    }

    @media screen and (min-width: 992px) {
    }

    @media screen and (min-width: 1200px) {
    }
