/* view styles */

.not-answered {
    color: red;
    display: inline-block;
}

.not-answered-2 {
    color: red;
}

.pr-bar-div {
    max-width: 600px;
    min-width: 300px;
}

.pr-bar-cstm {
    width: 100%;
    margin: 4rem auto 0;
}

.btn-next {
    padding: 8rem 0;
}

/*
TEST
***************************************/

.borders {
    border: 1px solid red;
}

/*
BUTTONS VIEW
***************************************/

#q-1-div {
    max-width: 720px;
    margin: 0 auto;
}



/*
BUTTON-SLIDER VIEW
****************************************/

.btn-group-vertical > .btn {
    width: 300px;
}
/* from bootstrap css - and modified */
.btn-default {
  color: #236290;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #236290;
  background-color: #fff;
  border-color: #2C7CB7;
}
.btn-default:hover {
  color: #236290;
  background-color: #fff;
  border-color: #2C7CB7;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #5DB75D;
  border-color: #5DB75D;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: #5DB75D;
  border-color: #5DB75D;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

/*
BUTTON SLIDER VIEW
*****************************************/

.btn-slider-div {
    min-width: 376px;
}

.btn-slider {
    min-width: 94px;
    height: 33px;
}

.btn-slider-text-div {
    min-width: 100%;
    margin: 0 auto;
}

.btn-slider-text {
    color: #666666;
    font-size: 16px;
}

.pd-text {
    color: #fff;
}




/*
QUESTION SAFETY VIEW
**********************************************/

.btn-numb-div {
    min-width: 280px;
    margin: 0 auto;
}

.btn-number {
    width: 70px;
    margin: 0 5px;
}

.btn-number-l {
    width: 70px;
    margin-right: 5px;
}

.btn-number-r {
    width: 70px;
    margin-left: 5px;
}

/*tests*/



/*
QUESTION THUMBS
**************************************/

.thumbs-div {
    width: 400px;
    margin: 0 auto;
}

.btn-new {
    margin: 5px 10px;
}

.list-div {
    width: 100%;
}

.list-q {
    display: inline;
    float: left;
    margin-top: 17px;
}

.list-answer {
    display: inline;
    float: right;
}

.a-no-input {
    display: none;
    max-width: 500px;
}



/*
MEDIA QUERIES (bootstrap 3 widths)
***********************************************/


@media screen and (max-width: 767px) {
    v-1 {
        
    }

    .q-1b {
        padding-top: 3rem;
    }


}


@media screen and (min-width: 550px) {

    .btn-slider-div {
        width: 460px;
    }
    
    .btn-slider {
        width: 115px;
    }

    .btn-slider-text {
        font-size: 17px;
    }

    .btn-number,
    .btn-number-l,
    .btn-number-r {
        width: 90px;
        margin: 0 12px;
    }
}


@media screen and (min-width: 768px) {
    v-1 {
        
    }
    
    .q-1a {
        float: left;
    }

    .q-1b {
        float: right;
    }

    .btn-slider-div {
        width: 520px;
    }
    
    .btn-slider {
        width: 130px;
    }

    .dd-drop-div {
        margin-left: 2%;
    }
}

@media screen and (min-width: 992px) {

    .dd-row {
        margin-left: 8%;
    }

    .dd-drop-div {
        margin-left: 4%;
    }

}

@media screen and (min-width: 1200px) {
    .dd-row {
        margin-left: 14%;
    }
}