<div class="container">

    <progress-bar></progress-bar>

    <h4>Arvioi seuraavia osa-alueita työmaalla:</h4>
    <div class="btn-group thumbs-div">
        <table>
            <tbody>
                <tr ng-repeat="q in $ctrl.currentQuestions">
                    <td class="thumbs-question">
                        <h4>{{ q.QuestionText }}</h4>
                    </td>
                    <td>
                        <input id="q{{ q.ChosenQuestionIndex }}-a1" type="radio" name="question-{{ q.QuestionMethodValue }}" value="1" />
                        <label for="q{{ q.ChosenQuestionIndex }}-a1" class="button-neg" ng-click="$ctrl.setAnswer(1, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                            <img src="core/images/thumb-down.png" alt="thumbs down" />
                        </label>
                    </td>
                    <td>
                        <input id="q{{ q.ChosenQuestionIndex }}-a2" type="radio" name="question-{{ q.QuestionMethodValue }}" value="2" />
                        <label for="q{{ q.ChosenQuestionIndex }}-a2" class="button-neutral" ng-click="$ctrl.setAnswer(2, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                            <img src="core/images/thumb-neutral.png" alt="soso hands" />
                        </label>
                    </td>
                    <td>
                        <input id="q{{ q.ChosenQuestionIndex }}-a3" type="radio" name="question-1" value="3" />
                        <label for="q{{ q.ChosenQuestionIndex }}-a3" class="button-pos" ng-click="$ctrl.setAnswer(3, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                            <img src="core/images/thumb-up.png" alt="thumbs up" />
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <next-prev-buttons></next-prev-buttons>

</div>