<div class="container">
    <progress-bar></progress-bar>
    <div class="question" ng-repeat="q in $ctrl.currentQuestions">
        <p class="lead text-center q-text-10">{{ q.QuestionText }}</p>
        <div class="btn-group sl-thumb-div" data-toggle="buttons">
            <label class="btn btn-default btn-sl-thumb" ng-click="$ctrl.setAnswer(1, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                <span aria-hidden="true">
                    Huono
                    <input type="radio">
                </span>
            </label>
            <label class="btn btn-default btn-sl-thumb" ng-click="$ctrl.setAnswer(2, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                <span aria-hidden="true">
                    Kohtalainen
                    <input type="radio">
                </span>
            </label>
            <label class="btn btn-default btn-sl-thumb" ng-click="$ctrl.setAnswer(3, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                <span aria-hidden="true">
                    Hyvä
                    <input type="radio">
                </span>
            </label>
        </div>
    </div>
    <div class="btn-next-div">
        <a id="back-button" class="btn btn-default btn-lg" ng-click="$ctrl.goBack()" role="button">Edellinen kysymys</a>
    </div>
</div>
