<div class="container">

    <div class="progress pr-bar-custom">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        </div>
    </div>

    <div class="outer-checkbox-div">
        <h3>Kysymys lorem ipsum sit dolor amet?</h3>

        <div class="btn-group checkbox-div">
            <ul>
                <li>
                    <label for="q-a1">
                        <input id="q-a1" type="checkbox" name="question-1" value="1" />
                        Lorem ipsum dolor sit amet, consec tetuer
                        <span class="check"></span>
                    </label>                   
                </li>
                <li>
                    <label for="q-a2">
                        <input id="q-a2" type="checkbox" name="question-1" value="2" />
                        Lorem ipsum dolor sit amet, con sec tet uer adipiscing elit
                        <span class="check"></span>
                    </label>                   
                </li>
                <li>
                    <label for="q-a3">
                        <input id="q-a3" type="checkbox" name="question-1" value="3" />                
                        Lorem ipsum dolor sit amet, consectetuer
                        <span class="check"></span>
                    </label>
                </li>
                <li>
                    <label for="q-a4">
                        <input id="q-a4" type="checkbox" name="question-1" value="4" />
                        Lorem ipsum dolor sit amet
                        <span class="check"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div class="btn-group nav-btn-div nav-btn-margins">
        <a class="button-primary" ng-click="previousView()">Edellinen</a>
        <a class="button-primary" ng-click="setAnswers()">Seuraava</a>
    </div>
</div>