@import "variables.scss";

.results-bg {
    background-color: $monitoring-bg-color;
}

.monitoring-div {

    h4 {
        margin: 4 * $grid 0 4 * $grid;
    }

    .poll-results-div {
        margin-bottom: 8 * $grid;
        padding: 3 * $grid 2 * $grid 2 * $grid 0;
        border-radius: $grid;
        border: 1px solid $result-border-color;
        background-color: $result-color;

        @include media-query($on-mobile) {
            margin-bottom: 4 * $grid;
        }
    }
}

.btn-nav-results-div {
    max-width: 60 * $grid;
    margin: 12 * $grid auto;
}
