//grid
$grid: 4px;

//colors
$white: #fff;
$transparent: rgba(255, 255, 255, 0);
$grey: #333;
$lightgrey: #cccccc;

$monitoring-bg-color: rgba(125, 209, 129, 0.1);
$result-border-color: #e6e6e6;
$result-color: #FAFAFA;

$body-bg-color: #FAFAFA;
$header-color: #337ab7; //#4575B5;
$footer-color: #808080;

$primary-color: #0094ff;
$secondary-color: #b6ff00;
$tertiary-color: #ffd800;
$warning-color: #ff0000;

// button colors
$button-text-color: #fff;

$button-pos-color: lighten(#7DD181, 5%);
$button-pos-border: darken($button-pos-color, 30%);
$button-pos-hover: darken($button-pos-color, 5%);
$button-pos-checked: darken($button-pos-color, 30%);

$button-middle-pos-color: lighten(#CBD68D, 5%);
$button-middle-pos-border: darken($button-middle-pos-color, 30%);
$button-middle-pos-hover: darken($button-middle-pos-color, 5%);
$button-middle-pos-checked: darken($button-middle-pos-color, 30%);

$button-neutral-color: lighten(#EDD892, 5%);
$button-neutral-border: darken($button-neutral-color, 30%);
$button-neutral-hover: darken($button-neutral-color, 5%);
$button-neutral-checked: darken($button-neutral-color, 30%);

$button-middle-neg-color: lighten(#EFC188, 5%);
$button-middle-neg-border: darken($button-middle-neg-color, 30%);
$button-middle-neg-hover: darken($button-middle-neg-color, 5%);
$button-middle-neg-checked: darken($button-middle-neg-color, 30%);

$button-neg-color: lighten(#f48c72, 5%);
$button-neg-border: darken($button-neg-color, 30%);
$button-neg-hover: darken($button-neg-color, 5%);
$button-neg-checked: darken($button-neg-color, 30%);

// btn group border radius
$btn-grp-radius-left: 2 * $grid 0 0 2 * $grid;
$btn-grp-radius-right: 0 2 * $grid 2 * $grid 0;

// devices
$on-tablet: 768px;
$on-mobile: 480px;
$on-small-mobile: 375px;

// results

$results-bg-color: #ffd800;



// mixins
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
