@import "variables.scss";

// test
.borders {
    border: 1px solid red;
}

/*
OUTER SLIDER DIV
**************************/

.outer-slider-div {
    margin-top: 4 * $grid;

    .bar-rating {
        width: 100%;
        height: 6 * $grid;
        display: flex;
        justify-content: space-between;
        margin: 0 0 11 * $grid;
        color: $grey;

        @include media-query($on-mobile) {
            margin: 0 0 9 * $grid;
        }
    }
}

/*
BUTTON GROUPS
**************************/

div.btn-group {
    width: 100%;

    input[type="radio"] {
        display: none;
    }

    label, a {
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        user-select: none;

        &.button-neg {
            background-color: $button-neg-color;
            border: 1px solid $button-neg-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-middle-neg {
            background-color: $button-middle-neg-color;
            border: 1px solid $button-middle-neg-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-neutral {
            background-color: $button-neutral-color;
            border: 1px solid $button-neutral-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-middle-pos {
            background-color: $button-middle-pos-color;
            border: 1px solid $button-middle-pos-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-pos {
            background-color: $button-pos-color;
            border: 1px solid $button-pos-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-primary {
            color: $white;
            background-color: $button-primary-color;
            border: 1px solid $button-primary-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;

            &:hover {
                background-color: $button-primary-hover;
            }

            &:active {
                background-color: $button-primary-checked;
            }
        }

        &.button-secondary {
            color: $button-secondary-text-color;
            background-color: $button-secondary-bg-color;
            border: 1px solid $button-secondary-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;

            &:hover {
                background-color: $button-secondary-hover;
            }

            &:active {
                background-color: $button-secondary-checked;
            }
        }

        &.button-tertiary {
            color: $white;
            background-color: $button-tertiary-color;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;

            &:hover {
                background-color: $button-tertiary-hover;
            }

            &:active {
                background-color: $button-tertiary-checked;
            }
        }
    }
    // button hover & checked states
    input[type="radio"]:hover + label.button-neg {
        background-color: $button-neg-hover;
    }

    input[type="radio"]:checked + label.button-neg {
        background-color: $button-neg-checked;
    }

    input[type="radio"]:hover + label.button-middle-neg {
        background-color: $button-middle-neg-hover;
    }

    input[type="radio"]:checked + label.button-middle-neg {
        background-color: $button-middle-neg-checked;
    }

    input[type="radio"]:hover + label.button-neutral {
        background-color: $button-neutral-hover;
    }

    input[type="radio"]:checked + label.button-neutral {
        background-color: $button-neutral-checked;
    }

    input[type="radio"]:hover + label.button-middle-pos {
        background-color: $button-middle-pos-hover;
    }

    input[type="radio"]:checked + label.button-middle-pos {
        background-color: $button-middle-pos-checked;
    }

    input[type="radio"]:hover + label.button-pos {
        background-color: $button-pos-hover;
    }

    input[type="radio"]:checked + label.button-pos {
        background-color: $button-pos-checked;
    }

    & a.button-primary:hover,
    input[type="radio"]:hover + label.button-primary {
        background-color: $button-primary-hover;
    }

    & a.button-primary:checked,
    input[type="radio"]:checked + label.button-primary {
        background-color: $button-primary-checked;
    }

    input[type="radio"]:hover + label.button-secondary {
        background-color: $button-secondary-hover;
    }

    input[type="radio"]:checked + label.button-secondary {
        background-color: $button-secondary-checked;
    }
    //// button types
    /////////////
    //nav buttons
    &.nav-btn-div {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;

        a {
            width: 32 * $grid;
            height: 12 * $grid;
            font-size: 4.5 * $grid;
            line-height: 12 * $grid;
            padding: 0 2 * $grid;
            border-radius: 2 * $grid;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            &.block-btn {
                width: 50 * $grid;
                margin: 0 auto;
            }
        }

        &.nav-btn-margins {
            margin: 20 * $grid 0 16 * $grid;

            @include media-query($on-mobile) {
                margin: 12 * $grid 0 14 * $grid;
            }
        }

        &.nav-btn-margins-small {
            margin: 10 * $grid 0 14 * $grid;

            @include media-query($on-mobile) {
                margin: 6 * $grid 0 12 * $grid;
            }
        }
    }
    /////////////
    //language-btn-div
    &.language-btn-div {
        max-width: 100 * $grid;
        display: flex;
        justify-content: space-between;
        margin: 10 * $grid auto 0;

        @include media-query($on-mobile) {
            margin: 6 * $grid auto 0;
        }

        label {
            padding: 1.5 * $grid;
            border-radius: $grid;

            img {
                width: 57.8px;
                height: 34px;
                margin-bottom: -1px;
            }
        }
    }
    /////////////
    // slider
    &.slider-div {
        margin: 2 * $grid auto 0;
        // different number of labels in row
        &.btns-five label {
            width: 20.2%;

            @include media-query($on-mobile) {
                width: 20.4%;
            }
        }

        label {
            border-radius: 0px;
            color: $button-text-color;
            margin: 0 -6px 0 0;
            padding: 0;
            text-align: center;
            font-size: 20px;
            height: 11 * $grid;
            border-left: none;

            @include media-query($on-mobile) {
                height: 13 * $grid;
            }
            //border-radius for 1st and last btn
            &.slider-group-first {
                border-radius: $btn-grp-radius-left;
                border: 1px solid $button-middle-neg-border;
            }

            &.slider-group-last {
                border-radius: $btn-grp-radius-right;
            }
        }

        span {
            font-size: 3 * $grid;
            width: 100%;
            position: relative;
            left: 0;
            top: 5px;

            @include media-query($on-small-mobile) {
                top: 5px;
            }
        }
    }
    /////////////
    //radiobutton
    &.radiobutton-div {
        position: relative;
        margin: 2 * $grid 0 0 10%;
        padding: 0;
        width: 80%;

        @include media-query($on-tablet) {
            width: 90%;
            margin: 2 * $grid 0 0 5%;
        }

        @include media-query($on-mobile) {
            width: 100%;
            margin: $grid 0 0 0;
        }

        ul {
            padding: 0;
        }

        ul li {
            display: block;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;

            label {
                display: block;
                position: relative;
                font-family: 'Roboto', sans-serif;
                color: $grey;
                font-weight: 400;
                font-size: 5.5 * $grid;
                line-height: 7 * $grid;
                margin: 1 * $grid auto 1 * $grid;
                padding: 3 * $grid 3 * $grid 3 * $grid 14 * $grid;
                border-radius: 1.5 * $grid;
                box-shadow: 0 0 0 0 rgba(204,204,204,0);
                -webkit-transition: color 0.2s linear, box-shadow 0.3s, linear;
                transition: color 0.2s linear, box-shadow 0.2s, linear;

                @include media-query($on-tablet) {
                    font-size: 5 * $grid;
                    line-height: 6.5 * $grid;
                }
                /*@include media-query($on-mobile) {
                    margin: 1 * $grid auto 1 * $grid;
                    padding: 3 * $grid 3 * $grid 3 * $grid 12 * $grid;
                }*/
            }
            /*&:hover label {
                box-shadow: 0px 1px 1px 1px rgba(204,204,204,0.4);
            }*/
            .check {
                display: block;
                position: absolute;
                background-color: $lightgrey;
                // border: 1.5px solid $lightgrey;
                border-radius: 100%;
                height: 26px;
                width: 26px;
                top: 12px;
                left: 12px;
                z-index: 5;
                -webkit-transition: background-color .2s linear;
                transition: background-color .2s linear;

                @include media-query($on-mobile) {
                    top: 11px;
                    left: 12px;
                }
            }


            &:hover .check {
                background-color: $button-tertiary-hover-alt;
            }

            .check::before {
                display: block;
                position: absolute;
                content: '';
                background-color: rgba(255, 255, 255, 0);
                border-radius: 100%;
                height: 10px;
                width: 10px;
                top: 8px;
                left: 8px;
                margin: auto;
                -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;

                @include media-query($on-mobile) {
                    top: 8px;
                    left: 8px;
                }
            }

            input[type=radio]:checked ~ .check::before {
                background-color: rgba(255, 255, 255, 1);
            }

            input[type=radio]:checked ~ .check {
                background-color: $button-tertiary-color;
            }

            input[type=radio]:checked ~ label {
                //background-color: $almost-white;
                //box-shadow: inset 0 0 1px 1px rgba(144, 216, 147, 0.3);
                //box-shadow: inset 0 0 1px 1px rgba(204,204,204,0.2);
            }
        }
    }
    /////////////
    //checkbox
    &.checkbox-div {
        position: relative;
        margin: 2 * $grid 0 0 10%;
        padding: 0;
        width: 80%;

        @include media-query($on-tablet) {
            width: 90%;
            margin: 2 * $grid 0 0 5%;
        }

        @include media-query($on-mobile) {
            width: 100%;
            margin: $grid 0 0 0;
        }


        ul {
            padding: 0;
        }

        ul li {
            display: block;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;

            label {
                display: block;
                position: relative;
                font-family: 'Roboto', sans-serif;
                color: $grey;
                font-weight: 400;
                font-size: 5.5 * $grid;
                line-height: 7 * $grid;
                margin: 2 * $grid auto 2 * $grid;
                padding: 3 * $grid 3 * $grid 3 * $grid 14 * $grid;
                border-radius: 1.5 * $grid;
                box-shadow: 0 0 0 0 rgba(204,204,204,0);
                -webkit-transition: color 0.2s linear, box-shadow 0.3s, linear;
                transition: color 0.2s linear, box-shadow 0.2s, linear;

                @include media-query($on-tablet) {
                    font-size: 5 * $grid;
                    line-height: 6.5 * $grid;
                }
                /*@include media-query($on-mobile) {
                    margin: 1 * $grid auto 1 * $grid;
                    padding: 3 * $grid 3 * $grid 3 * $grid 12 * $grid;
                }*/
                input[type=checkbox] {
                    position: absolute;
                    opacity: 0;
                }

                .check {
                    position: absolute;
                    height: 26px;
                    width: 26px;
                    top: 12px;
                    left: 12px;
                    background-color: $lightgrey;

                    @include media-query($on-mobile) {
                        top: 11px;
                        left: 12px;
                    }
                }

                &:hover input[type=checkbox] ~ .check {
                    background-color: $button-tertiary-hover-alt;
                }

                & input[type=checkbox]:checked ~ .check {
                    background-color: $button-tertiary-color;
                }


                .check:after {
                    display: none;
                    position: absolute;
                    content: "";
                }

                input[type=checkbox]:checked ~ .check:after {
                    display: block;
                }

                .check:after {
                    left: 8px;
                    top: 3px;
                    width: 10px;
                    height: 15px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
    /////////////
    //smiley
    &.smiley-div {
        display: flex;
        justify-content: space-around;
        margin: 5 * $grid auto 14 * $grid;
        width: 90%;

        @include media-query($on-mobile) {
            width: 100%;
            margin: 4 * $grid auto 12 * $grid;
        }

        label {
            height: 26 * $grid;
            width: 26 * $grid;
            margin: 0;
            border-radius: 50%;
            border: 0;

            @include media-query($on-tablet) {
                height: 20 * $grid;
                width: 20 * $grid;
            }

            @include media-query($on-mobile) {
                height: 18 * $grid;
                width: 18 * $grid;
            }

            @include media-query($on-small-mobile) {
                height: 16 * $grid;
                width: 16 * $grid;
            }

            img {
                position: relative;
                width: 26 * $grid;
                height: 26 * $grid;
                left: 0;
                top: 0;

                @include media-query($on-tablet) {
                    width: 20 * $grid;
                    height: 20 * $grid;
                }

                @include media-query($on-mobile) {
                    width: 18 * $grid;
                    height: 18 * $grid;
                }

                @include media-query($on-small-mobile) {
                    width: 16 * $grid;
                    height: 16 * $grid;
                }
            }
        }
    }
    ////////////
    //thumbs
    &.thumbs-div {
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 4 * $grid auto 12 * $grid;
        //border: 1px solid red;
        @include media-query($on-tablet) {
            width: 70%;
        }

        @include media-query($on-mobile) {
            width: 90%;
        }

        label {
            //position: relative;
            border-radius: $grid;
            color: $grey;
            width: 21 * $grid;
            height: 14 * $grid;
            margin: 0 4 * $grid;
            /*@include media-query($on-tablet) {
                width: 15 * $grid;
                height: 12 * $grid;
            }*/
            @include media-query($on-mobile) {
                width: 17.25 * $grid;
                height: 11.5 * $grid;
                margin: 0 2 * $grid;
            }
            /*@include media-query($on-small-mobile) {
                width: 12.5 * $grid;
                height: 10 * $grid;
            }*/
            img {
                position: relative;
                width: 9 * $grid;
                height: 9 * $grid;
                top: 9px;
                left: 22px;

                @include media-query($on-mobile) {
                    width: 6.5 * $grid;
                    height: 6.5 * $grid;
                    top: 9px;
                    left: 19px;
                }
            }
        }
    }
    /////////////
    // textarea
    &.textarea-div {
        margin: 0 0 4 * $grid;

        textarea {
            display: block;
            width: 70%;
            height: 30 * $grid;
            margin: 3 * $grid auto 0;
            border: 1.5px solid $lightgrey;
            background-color: $white;

            @include media-query($on-tablet) {
                width: 70%;
            }

            @include media-query($on-mobile) {
                width: 84%;
                margin: 2 * $grid auto 10 * $grid;
            }

            @include media-query($on-small-mobile) {
                width: 94%;
            }
        }
    }
} // btn-group ends

.thanks-div {
    margin-top: 16vh;
}