@import "variables.scss";

// test
.borders {
    border: 1px solid red;
}

/*
OUTER SLIDER DIV
**************************/

.outer-buttonslider-div {
    margin: 4 * $grid 0 11 * $grid;

    @include media-query($on-mobile) {
        margin: 4 * $grid 0 9 * $grid;
    }

    .buttonslider-scale {
        width: 100%;
        height: 6 * $grid;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        color: $grey;

    }
}

.outer-textarea-div {
    margin-top: 10vh;
}

/*
BUTTON GROUPS
**************************/

div.btn-group {
    width: 100%;

    input[type="radio"] {
        display: none;
    }

    label, a {
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        user-select: none;

        &.button-neg {
            background-color: $button-neg-bg-color;
            border: 1px solid $button-neg-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-middle-neg {
            background-color: $button-middle-neg-bg-color;
            border: 1px solid $button-middle-neg-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-neutral {
            background-color: $button-neutral-bg-color;
            border: 1px solid $button-neutral-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-middle-pos {
            background-color: $button-middle-pos-bg-color;
            border: 1px solid $button-middle-pos-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-pos {
            background-color: $button-pos-base-color;
            border: 1px solid $button-pos-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

        &.button-primary {
            color: $white;
            background-color: $button-primary-color;
            border: 1px solid $button-primary-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;

            &:hover {
                background-color: $button-primary-hover;
            }

            &:active {
                background-color: $button-primary-checked;
            }
        }

        &.button-secondary {
            color: $button-secondary-text-color;
            background-color: $button-secondary-bg-color;
            border: 1px solid $button-secondary-border;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;

            &:hover {
                background-color: $button-secondary-hover;
            }

            &:active {
                background-color: $button-secondary-checked;
            }
        }

        &.button-tertiary {
            color: $white;
            background-color: $button-tertiary-color;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;

            &:hover {
                background-color: $button-tertiary-hover;
            }

            &:active {
                background-color: $button-tertiary-checked;
            }
        }
    }
    // button checked states
    input[type="radio"]:checked + label.button-neg {
        background-color: $button-neg-checked;
    }

    input[type="radio"]:checked + label.button-middle-neg {
        background-color: $button-middle-neg-checked;
    }

    input[type="radio"]:checked + label.button-neutral {
        background-color: $button-neutral-checked;
    }

    input[type="radio"]:checked + label.button-middle-pos {
        background-color: $button-middle-pos-checked;
    }

    input[type="radio"]:checked + label.button-pos {
        background-color: $button-pos-checked;
    }

    & a.button-primary:hover,
    input[type="radio"]:hover + label.button-primary {
        background-color: $button-primary-hover;
    }

    & a.button-primary:checked,
    input[type="radio"]:checked + label.button-primary {
        background-color: $button-primary-checked;
    }

    input[type="radio"]:hover + label.button-secondary {
        background-color: $button-secondary-hover;
    }

    input[type="radio"]:checked + label.button-secondary {
        background-color: $button-secondary-checked;
    }
    //// button types
    /////////////
    //nav buttons
    &.nav-btn-div {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;

        a {
            width: 32 * $grid;
            height: 12 * $grid;
            font-size: 4.5 * $grid;
            line-height: 12 * $grid;
            padding: 0 2 * $grid;
            border-radius: 2 * $grid;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            &.block-btn {
                width: 50 * $grid;
                margin: 0 auto;
            }

            &.block-btn-xl {
                width: 66 * $grid;
                margin: 0 auto;
            }
        }

        &.nav-btn-margins {
            margin: 20 * $grid 0 16 * $grid;

            @include media-query($on-mobile) {
                margin: 12 * $grid 0 14 * $grid;
            }
        }

        &.nav-btn-margins-small {
            margin: 10 * $grid 0 14 * $grid;

            @include media-query($on-mobile) {
                margin: 6 * $grid 0 12 * $grid;
            }
        }
    }
    /////////////
    //language-btn-div
    &.language-btn-div {
        max-width: 100 * $grid;
        display: flex;
        justify-content: space-between;
        margin: 10 * $grid auto 0;

        @include media-query($on-mobile) {
            margin: 6 * $grid auto 0;
        }

        label {
            border-radius: $grid;
            padding: 2.5 * $grid;

            @include media-query($on-small-mobile) {
                padding: 1.5 * $grid;
            }

            img {
                width: 57.8px;
                height: 34px;
                margin-bottom: -1px;
            }
        }
    }
    /////////////
    //radiobutton
    &.radiobutton-div {
        position: relative;
        margin: 2 * $grid 0 0 10%;
        padding: 0;
        width: 80%;

        @include media-query($on-tablet) {
            width: 90%;
            margin: 2 * $grid 0 0 5%;
        }

        @include media-query($on-mobile) {
            width: 100%;
            margin: $grid 0 0 0;
        }

        ul {
            padding: 0;
        }

        ul li {
            display: block;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;

            label {
                display: block;
                position: relative;
                font-family: 'Roboto', sans-serif;
                color: $grey;
                font-weight: 400;
                font-size: 5.5 * $grid;
                line-height: 7 * $grid;
                margin: 2 * $grid auto;
                padding: 3 * $grid 3 * $grid 3 * $grid 14 * $grid;
                border-radius: 1.5 * $grid;
                box-shadow: 0 0 3px 1px $label-grey-border;

                @include media-query($on-tablet) {
                    font-size: 5 * $grid;
                    line-height: 6.5 * $grid;
                }

                input[type=radio] {
                    position: absolute;
                    opacity: 0;
                }

                .check {
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    top: 11px;
                    left: 10px;
                    border-radius: 50%;
                    background-color: $lightgrey;
                    -webkit-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
                    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

                    @include media-query($on-mobile) {
                        top: 9px;
                        left: 10px;
                    }
                }

                & input[type=radio]:checked ~ .check {
                    background-color: $button-pos-checked;
                }


                .check:after {
                    display: none;
                    position: absolute;
                    content: "";
                }

                input[type=radio]:checked ~ .check:after {
                    display: block;
                }

                .check:after {
                    left: 8px;
                    top: 8px;
                    width: 14px;
                    height: 14px;
                    border: 7px solid white;
                    border-radius: 50%;
                }
            }
        }
    }
    /////////////
    //checkbox
    &.checkbox-div {
        position: relative;
        margin: 2 * $grid 0 0 10%;
        padding: 0;
        width: 80%;

        @include media-query($on-tablet) {
            width: 90%;
            margin: 2 * $grid 0 0 5%;
        }

        @include media-query($on-mobile) {
            width: 100%;
            margin: $grid 0 0 0;
        }


        ul {
            padding: 0;
        }

        ul li {
            display: block;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;

            label {
                display: block;
                position: relative;
                font-family: 'Roboto', sans-serif;
                color: $grey;
                font-weight: 400;
                font-size: 5.5 * $grid;
                line-height: 7 * $grid;
                margin: 2 * $grid auto;
                padding: 3 * $grid 3 * $grid 3 * $grid 14 * $grid;
                border-radius: 1.5 * $grid;
                box-shadow: 0 0 2px 1px $label-grey-border;
                -webkit-transition: color 0.2s linear, box-shadow 0.3s, linear;
                transition: color 0.2s linear, box-shadow 0.2s, linear;

                @include media-query($on-tablet) {
                    font-size: 5 * $grid;
                    line-height: 6.5 * $grid;
                }

                input[type=checkbox] {
                    position: absolute;
                    opacity: 0;
                }

                .check {
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    top: 10px;
                    left: 10px;
                    background-color: $lightgrey;
                    -webkit-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
                    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

                    @include media-query($on-mobile) {
                        top: 9px;
                        left: 10px;
                    }
                }

                & input[type=checkbox]:checked ~ .check {
                    background-color: $button-pos-checked;
                }


                .check:after {
                    display: none;
                    position: absolute;
                    content: "";
                }

                input[type=checkbox]:checked ~ .check:after {
                    display: block;
                }

                .check:after {
                    left: 10px;
                    top: 4px;
                    width: 10px;
                    height: 17px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
    /////////////
    // slider
    &.slider-div {
        margin: 2 * $grid auto 0;
        // different number of labels in row
        &.btns-five label {
            width: 20.2%;

            @include media-query($on-mobile) {
                width: 20.4%;
            }
        }

        label {
            border-radius: 0px;
            color: $button-text-color;
            margin: 0 -6px 0 0;
            padding: 0;
            text-align: center;
            font-size: 20px;
            height: 11 * $grid;
            border-left: none;

            @include media-query($on-mobile) {
                height: 13 * $grid;
            }

            &.button-neg {
                background-color: $button-neg-bg-color-lighten;
            }

            &.button-middle-neg {
                background-color: $button-middle-neg-bg-color-lighten;
            }

            &.button-neutral {
                background-color: $button-neutral-bg-color-lighten;
            }

            &.button-middle-pos {
                background-color: $button-middle-pos-bg-color-lighten;
            }

            &.button-pos {
                background-color: $button-pos-bg-color-lighten;
            }
            //border-radius for 1st and last btn
            &.slider-group-first {
                border-radius: $btn-grp-radius-left;
                border: 1px solid $button-middle-neg-border;
            }

            &.slider-group-last {
                border-radius: $btn-grp-radius-right;
            }
        }

        span {
            font-size: 3 * $grid;
            width: 100%;
            position: relative;
            left: 0;
            top: 5px;

            @include media-query($on-small-mobile) {
                top: 5px;
            }
        }
    }
    /////////////
    //smiley
    &.smiley-div {
        display: flex;
        justify-content: space-around;
        margin: 5 * $grid auto 14 * $grid;
        width: 90%;

        @include media-query($on-mobile) {
            width: 100%;
            margin: 4 * $grid auto 12 * $grid;
        }

        label {
            height: 26 * $grid;
            width: 26 * $grid;
            margin: 0;
            border-radius: 50%;
            border: 0;

            @include media-query($on-tablet) {
                height: 20 * $grid;
                width: 20 * $grid;
            }

            @include media-query($on-mobile) {
                height: 18 * $grid;
                width: 18 * $grid;
            }

            @include media-query($on-small-mobile) {
                height: 16 * $grid;
                width: 16 * $grid;
            }

            img {
                position: relative;
                width: 26 * $grid;
                height: 26 * $grid;
                left: 0;
                top: 0;

                @include media-query($on-tablet) {
                    width: 20 * $grid;
                    height: 20 * $grid;
                }

                @include media-query($on-mobile) {
                    width: 18 * $grid;
                    height: 18 * $grid;
                }

                @include media-query($on-small-mobile) {
                    width: 16 * $grid;
                    height: 16 * $grid;
                }
            }
        }
    }
    ////////////
    //thumbs
    &.thumbs-div {
        display: flex;
        justify-content: center;
        margin: 4 * $grid auto 12 * $grid;

        label {
            border-radius: $grid;
            color: $grey;
            width: 21 * $grid;
            height: 14 * $grid;

            &.button-neutral {
                margin: 0 8 * $grid;

                @include media-query($on-mobile) {
                    margin: 0 4 * $grid;
                }
            }

            img {
                position: relative;
                width: 9 * $grid;
                height: 9 * $grid;
                top: 9px;
                left: 22px;
            }
        }
    }
    /////////////
    // textarea
    &.textarea-div {
        margin: 0;

        textarea {
            display: block;
            width: 70%;
            height: 36 * $grid;
            margin: 3 * $grid auto 0;
            border: 1.5px solid $lightgrey;
            background-color: $white;
            color: $grey;

            @include media-query($on-tablet) {
                width: 70%;
            }

            @include media-query($on-mobile) {
                width: 84%;
                margin: 2 * $grid auto 0;
            }

            @include media-query($on-small-mobile) {
                width: 94%;
            }
        }
    }
}

// btn-group ends
.thanks-div {
    margin-top: 16vh;
}

.outer-rangeslider-div {
    margin: 6 * $grid auto 11 * $grid;

    @include media-query($on-mobile) {
        margin: 6 * $grid auto 13 * $grid;
    }

    h4 {
        margin-bottom: 6 * $grid;
    }

    .rangeslider {
        width: 80%;
        background-color: hsl(61, 48%, 60%);
        margin: 3 * $grid auto;

        @include media-query($on-mobile) {
            width: 90%;
        }
    }

    .rangeslider__fill {
        background-color: rgba(255, 255, 255, 0); //hsl(61, 48%, 60%);
    }

    .rangeslider-scale {
        width: 80%;
        height: 6 * $grid;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        color: $grey;

        span {
            width: 25 * $grid;

            &:first-child {
                text-align: left;
            }

            &:nth-child(2) {
                text-align: center;

                @include media-query($on-small-mobile) {
                    display: none;
                }
            }

            &:last-child {
                text-align: right;
            }
        }


        @include media-query($on-mobile) {
            width: 90%;
        }
    }
}