.borders {
  border: 1px solid red; }

/*
OUTER SLIDER DIV
**************************/
.outer-slider-div {
  margin-top: 16px; }
  .outer-slider-div .bar-rating {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 44px;
    color: #333333; }
    @media screen and (max-width: 480px) {
      .outer-slider-div .bar-rating {
        margin: 0 0 36px; } }

/*
BUTTON GROUPS
**************************/
div.btn-group {
  width: 100%; }
  div.btn-group input[type="radio"] {
    display: none; }
  div.btn-group.btns-five label {
    width: 20.2%; }
    @media screen and (max-width: 480px) {
      div.btn-group.btns-five label {
        width: 20.4%; } }
  div.btn-group label, div.btn-group a {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none; }
    div.btn-group label.button-neg, div.btn-group a.button-neg {
      background-color: #f8b3a1;
      border: 1px solid #ed3f13;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out; }
    div.btn-group label.button-middle-neg, div.btn-group a.button-middle-neg {
      background-color: #f5d8b5;
      border: 1px solid #e3922e;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out; }
    div.btn-group label.button-neutral, div.btn-group a.button-neutral {
      background-color: #f4e8be;
      border: 1px solid #dfb93a;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out; }
    div.btn-group label.button-middle-pos, div.btn-group a.button-middle-pos {
      background-color: #dce3b3;
      border: 1px solid #a8ba43;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out; }
    div.btn-group label.button-pos, div.btn-group a.button-pos {
      background-color: #a3dea6;
      border: 1px solid #3dab42;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out; }
    div.btn-group label.button-primary, div.btn-group a.button-primary {
      color: #fff;
      background-color: #3b87c8;
      border: 1px solid #3b87c8;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out; }
      div.btn-group label.button-primary:hover, div.btn-group a.button-primary:hover {
        background-color: #2d6da3; }
      div.btn-group label.button-primary:active, div.btn-group a.button-primary:active {
        background-color: #173853; }
    div.btn-group label.button-secondary, div.btn-group a.button-secondary {
      color: #337ab7;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #63a0d4;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out; }
      div.btn-group label.button-secondary:hover, div.btn-group a.button-secondary:hover {
        background-color: #dbe9f5; }
      div.btn-group label.button-secondary:active, div.btn-group a.button-secondary:active {
        background-color: #3b87c8; }
    div.btn-group label.button-tertiary, div.btn-group a.button-tertiary {
      color: #fff;
      background-color: #26C485;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out; }
      div.btn-group label.button-tertiary:hover, div.btn-group a.button-tertiary:hover {
        background-color: #1e9968; }
      div.btn-group label.button-tertiary:active, div.btn-group a.button-tertiary:active {
        background-color: #0d442e; }
  div.btn-group input[type="radio"]:hover + label.button-neg {
    background-color: #f69f8a; }
  div.btn-group input[type="radio"]:checked + label.button-neg {
    background-color: #ed3f13; }
  div.btn-group input[type="radio"]:hover + label.button-middle-neg {
    background-color: #f2cd9e; }
  div.btn-group input[type="radio"]:checked + label.button-middle-neg {
    background-color: #e3922e; }
  div.btn-group input[type="radio"]:hover + label.button-neutral {
    background-color: #f1e0a8; }
  div.btn-group input[type="radio"]:checked + label.button-neutral {
    background-color: #dfb93a; }
  div.btn-group input[type="radio"]:hover + label.button-middle-pos {
    background-color: #d4dda0; }
  div.btn-group input[type="radio"]:checked + label.button-middle-pos {
    background-color: #a8ba43; }
  div.btn-group input[type="radio"]:hover + label.button-pos {
    background-color: #90d893; }
  div.btn-group input[type="radio"]:checked + label.button-pos {
    background-color: #3dab42; }
  div.btn-group a.button-primary:hover,
  div.btn-group input[type="radio"]:hover + label.button-primary {
    background-color: #2d6da3; }
  div.btn-group a.button-primary:checked,
  div.btn-group input[type="radio"]:checked + label.button-primary {
    background-color: #173853; }
  div.btn-group input[type="radio"]:hover + label.button-secondary {
    background-color: #dbe9f5; }
  div.btn-group input[type="radio"]:checked + label.button-secondary {
    background-color: #3b87c8; }
  div.btn-group.nav-btn-div {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box; }
    div.btn-group.nav-btn-div a {
      width: 128px;
      height: 48px;
      font-size: 18px;
      line-height: 48px;
      padding: 0 8px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
      div.btn-group.nav-btn-div a.block-btn {
        width: 200px;
        margin: 0 auto; }
    div.btn-group.nav-btn-div.nav-btn-margins {
      margin: 80px 0 64px; }
      @media screen and (max-width: 480px) {
        div.btn-group.nav-btn-div.nav-btn-margins {
          margin: 48px 0 56px; } }
    div.btn-group.nav-btn-div.nav-btn-margins-small {
      margin: 40px 0 56px; }
      @media screen and (max-width: 480px) {
        div.btn-group.nav-btn-div.nav-btn-margins-small {
          margin: 24px 0 48px; } }
  div.btn-group.language-btn-div {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0; }
    @media screen and (max-width: 480px) {
      div.btn-group.language-btn-div {
        margin: 24px auto 0; } }
    div.btn-group.language-btn-div label {
      padding: 6px;
      border-radius: 4px; }
      div.btn-group.language-btn-div label img {
        width: 57.8px;
        height: 34px;
        margin-bottom: -1px; }
  div.btn-group.slider-div {
    margin: 8px auto 0; }
    div.btn-group.slider-div label {
      border-radius: 0px;
      color: #fff;
      margin: 0 -6px 0 0;
      padding: 0;
      text-align: center;
      font-size: 20px;
      height: 44px; }
      @media screen and (max-width: 480px) {
        div.btn-group.slider-div label {
          height: 52px; } }
      div.btn-group.slider-div label.slider-group-first {
        border-radius: 8px 0 0 8px; }
      div.btn-group.slider-div label.slider-group-last {
        border-radius: 0 8px 8px 0; }
    div.btn-group.slider-div span {
      font-size: 12px;
      width: 100%;
      position: relative;
      left: 0;
      top: 5px; }
      @media screen and (max-width: 375px) {
        div.btn-group.slider-div span {
          top: 5px; } }
  div.btn-group.radiobutton-div {
    position: relative;
    margin: 8px 0 0 10%;
    padding: 0;
    width: 80%; }
    @media screen and (max-width: 768px) {
      div.btn-group.radiobutton-div {
        width: 90%;
        margin: 8px 0 0 5%; } }
    @media screen and (max-width: 480px) {
      div.btn-group.radiobutton-div {
        width: 100%;
        margin: 4px 0 0 0; } }
    div.btn-group.radiobutton-div ul {
      padding: 0; }
    div.btn-group.radiobutton-div ul li {
      display: block;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      /*&:hover label {
                box-shadow: 0px 1px 1px 1px rgba(204,204,204,0.4);
            }*/ }
      div.btn-group.radiobutton-div ul li label {
        display: block;
        position: relative;
        font-family: 'Roboto', sans-serif;
        color: #333333;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        margin: 4px auto 4px;
        padding: 12px 12px 12px 56px;
        border-radius: 6px;
        box-shadow: 0 0 0 0 rgba(204, 204, 204, 0);
        -webkit-transition: color 0.2s linear, box-shadow 0.3s, linear;
        transition: color 0.2s linear, box-shadow 0.2s, linear;
        /*@include media-query($on-mobile) {
                    margin: 1 * $grid auto 1 * $grid;
                    padding: 3 * $grid 3 * $grid 3 * $grid 12 * $grid;
                }*/ }
        @media screen and (max-width: 768px) {
          div.btn-group.radiobutton-div ul li label {
            font-size: 20px;
            line-height: 26px; } }
      div.btn-group.radiobutton-div ul li .check {
        display: block;
        position: absolute;
        background-color: #cccccc;
        border-radius: 100%;
        height: 26px;
        width: 26px;
        top: 12px;
        left: 12px;
        z-index: 5;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear; }
        @media screen and (max-width: 480px) {
          div.btn-group.radiobutton-div ul li .check {
            top: 11px;
            left: 12px; } }
      div.btn-group.radiobutton-div ul li:hover .check {
        background-color: #98ebca; }
      div.btn-group.radiobutton-div ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        height: 10px;
        width: 10px;
        top: 8px;
        left: 8px;
        margin: auto;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        @media screen and (max-width: 480px) {
          div.btn-group.radiobutton-div ul li .check::before {
            top: 6px;
            left: 6px; } }
      div.btn-group.radiobutton-div ul li input[type=radio]:checked ~ .check::before {
        background-color: white; }
      div.btn-group.radiobutton-div ul li input[type=radio]:checked ~ .check {
        background-color: #26C485; }
  div.btn-group.checkbox-div {
    position: relative;
    margin: 8px 0 0 10%;
    padding: 0;
    width: 80%; }
    @media screen and (max-width: 768px) {
      div.btn-group.checkbox-div {
        width: 90%;
        margin: 8px 0 0 5%; } }
    @media screen and (max-width: 480px) {
      div.btn-group.checkbox-div {
        width: 100%;
        margin: 4px 0 0 0; } }
    div.btn-group.checkbox-div ul {
      padding: 0; }
    div.btn-group.checkbox-div ul li {
      display: block;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0; }
      div.btn-group.checkbox-div ul li label {
        display: block;
        position: relative;
        font-family: 'Roboto', sans-serif;
        color: #333333;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        margin: 8px auto 8px;
        padding: 12px 12px 12px 56px;
        border-radius: 6px;
        box-shadow: 0 0 0 0 rgba(204, 204, 204, 0);
        -webkit-transition: color 0.2s linear, box-shadow 0.3s, linear;
        transition: color 0.2s linear, box-shadow 0.2s, linear;
        /*@include media-query($on-mobile) {
                    margin: 1 * $grid auto 1 * $grid;
                    padding: 3 * $grid 3 * $grid 3 * $grid 12 * $grid;
                }*/ }
        @media screen and (max-width: 768px) {
          div.btn-group.checkbox-div ul li label {
            font-size: 20px;
            line-height: 26px; } }
        div.btn-group.checkbox-div ul li label input[type=checkbox] {
          position: absolute;
          opacity: 0; }
        div.btn-group.checkbox-div ul li label .check {
          position: absolute;
          height: 26px;
          width: 26px;
          top: 12px;
          left: 12px;
          background-color: #cccccc; }
          @media screen and (max-width: 480px) {
            div.btn-group.checkbox-div ul li label .check {
              top: 11px;
              left: 12px; } }
        div.btn-group.checkbox-div ul li label:hover input[type=checkbox] ~ .check {
          background-color: #98ebca; }
        div.btn-group.checkbox-div ul li label input[type=checkbox]:checked ~ .check {
          background-color: #26C485; }
        div.btn-group.checkbox-div ul li label .check:after {
          display: none;
          position: absolute;
          content: ""; }
        div.btn-group.checkbox-div ul li label input[type=checkbox]:checked ~ .check:after {
          display: block; }
        div.btn-group.checkbox-div ul li label .check:after {
          left: 8px;
          top: 3px;
          width: 10px;
          height: 15px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
  div.btn-group.smiley-div {
    display: flex;
    justify-content: space-around;
    margin: 20px auto 56px;
    width: 90%; }
    @media screen and (max-width: 480px) {
      div.btn-group.smiley-div {
        width: 100%;
        margin: 16px auto 48px; } }
    div.btn-group.smiley-div label {
      height: 104px;
      width: 104px;
      margin: 0;
      border-radius: 50%;
      border: 0; }
      @media screen and (max-width: 768px) {
        div.btn-group.smiley-div label {
          height: 80px;
          width: 80px; } }
      @media screen and (max-width: 480px) {
        div.btn-group.smiley-div label {
          height: 72px;
          width: 72px; } }
      @media screen and (max-width: 375px) {
        div.btn-group.smiley-div label {
          height: 64px;
          width: 64px; } }
      div.btn-group.smiley-div label img {
        position: relative;
        width: 104px;
        height: 104px;
        left: 0;
        top: 0; }
        @media screen and (max-width: 768px) {
          div.btn-group.smiley-div label img {
            width: 80px;
            height: 80px; } }
        @media screen and (max-width: 480px) {
          div.btn-group.smiley-div label img {
            width: 72px;
            height: 72px; } }
        @media screen and (max-width: 375px) {
          div.btn-group.smiley-div label img {
            width: 64px;
            height: 64px; } }
  div.btn-group.thumbs-div {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 16px auto 48px; }
    @media screen and (max-width: 768px) {
      div.btn-group.thumbs-div {
        width: 70%; } }
    @media screen and (max-width: 480px) {
      div.btn-group.thumbs-div {
        width: 90%; } }
    div.btn-group.thumbs-div label {
      border-radius: 4px;
      color: #333333;
      width: 84px;
      height: 56px;
      margin: 0 16px;
      /*@include media-query($on-tablet) {
                width: 15 * $grid;
                height: 12 * $grid;
            }*/
      /*@include media-query($on-small-mobile) {
                width: 12.5 * $grid;
                height: 10 * $grid;
            }*/ }
      @media screen and (max-width: 480px) {
        div.btn-group.thumbs-div label {
          width: 69px;
          height: 46px;
          margin: 0 8px; } }
      div.btn-group.thumbs-div label img {
        position: relative;
        width: 36px;
        height: 36px;
        top: 9px;
        left: 22px; }
        @media screen and (max-width: 480px) {
          div.btn-group.thumbs-div label img {
            width: 26px;
            height: 26px;
            top: 9px;
            left: 19px; } }
  div.btn-group.textarea-div {
    margin: 0 0 16px; }
    div.btn-group.textarea-div textarea {
      display: block;
      width: 70%;
      height: 120px;
      margin: 12px auto 0;
      border: 1.5px solid #cccccc;
      background-color: #fff; }
      @media screen and (max-width: 768px) {
        div.btn-group.textarea-div textarea {
          width: 70%; } }
      @media screen and (max-width: 480px) {
        div.btn-group.textarea-div textarea {
          width: 84%;
          margin: 8px auto 40px; } }
      @media screen and (max-width: 375px) {
        div.btn-group.textarea-div textarea {
          width: 94%; } }

.thanks-div {
  margin-top: 16vh; }

