<div class="pull-left">
    <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">{{list1.title}}</div>
</div>
<div class="thumbnail pull-right" style="width:100px; height:50px; border:1px solid black;" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable >
    <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div>
</div>