<div class="container">
    <h3 class="q-main text-center p-t-3r">Merkitse, mihin työntekijäryhmään kuulut:</h3>

    <div class="text-center">
        <div class="btn-group-vertical" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" name="options"> Rakennusmies
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options"> Sähkömies
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options"> Putkimies
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options"> Raskaan ajoneuvon kuljettaja
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options"> Vaihtoehto 5
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options"> Vaihtoehto 6
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options"> Vaihtoehto 7
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options"> Vaihtoehto 8
            </label>
        </div>
    </div>

    <div class="text-center m-t-5r m-b-3r">
        <a class="btn btn-default btn-lg" href="#questionbuttons" role="button">Seuraava</a>
    </div>
</div>