<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2 sidebar">
            <div class="list-group">
                <div class="panel panel-custom panel-questions">
                    <div class="panel-heading">Tilastot</div>
                    <div class="list-group"> 
                        <a class="list-group-item" href="#monitoringov">Yhteenveto</a>
                        <a class="list-group-item" href="#monitoring" role="button">Vastaajamäärä</a>
                        <a class="list-group-item" href="#monitoring-2">Aikataulutus</a>
                        <a class="list-group-item" href="#monitoringbubbles">Työturvallisuus</a>
                        <a class="list-group-item">Kysymys 4</a>
                    </div>
                </div>
            </div>
            <a class="btn btn-default btn-block" href="#start" role="button">Uusi kysely</a>
            <br />
            <p class="text-center">
                Vastanneiden määrä: <br />
                <h3 class="text-center">{{answerCount}}</h3>
            </p>
        </div> <!-- 1st col div ends -->

        <div class="col-sm-9">
            <h3 class="text-center q-mon">Vastaajien tyytyväisyys aikataulutukseen asteikolla 1-5</h3>

            <div class="poll-results" style="border: 1px solid #ddd; padding: 10px 5px 0px;">
                <canvas class="chart-bar" chart-data="pollData" chart-labels="pollLabels" chart-series="pollSeries" chart-options="options"></canvas>
                
            </div>
        </div> <!-- 2nd col div ends -->

        <div>
        </div> <!-- 3rd col div ends -->

    </div> <!-- row div -->
</div>