<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2 sidebar">
            <div class="list-group">
                <div id="panel-questions" class="panel panel-primary">
                    <div class="panel-heading">Kysymykset</div>
                    <div class="list-group">
                        <a href="#monitoring" class="list-group-item">Yhteenveto</a>
                        <a href="#monitoring-2" class="list-group-item">Kysymys 1</a>
                        <a href="#" class="list-group-item">Kysymys 2</a>
                        <a href="#" class="list-group-item">Kysymys 3</a>
                        <a href="#" class="list-group-item">Kysymys 4</a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-center q-mon">Työntekijöiden tyytyväisyys aikataulutukseen</h3>

        <div class="col-sm-9 col-lg-10">
            <canvas class="poll-results chart chart-bar" chart-data="pollData" chart-labels="pollLabels" chart-series="pollSeries"></canvas>
        </div> <!-- 2nd col div in outer row -->
    </div> <!-- row div -->
</div>