<div class="container">

    <div class="progress pr-bar-custom">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
            <span class="sr-only">30% Complete</span>
        </div>
    </div>

    <h4>Testi kysymys: Milta tuntuu tehda tata kyselya lorem ipsum sit dolor amet?</h4>

    <div class="btn-group smiley-div">
        <input type="radio" name="question-1" id="q-a1" value="1" />
        <label for="q-a1">
            <img src="../Images/smiley-angry.svg" alt="smiley angry" />
        </label>
        <input type="radio" name="question-1" id="q-a2" value="2" />
        <label for="q-a2">
            <img src="../Images/smiley-little-sad.svg" alt="smiley little sad" />
        </label>
        <input type="radio" name="question-1" id="q-a3" value="3" />
        <label for="q-a3">
            <img src="../Images/smiley-neutral.svg" alt="smiley neutral" />
        </label>
        <input type="radio" name="question-1" id="q-a4" value="4" />
        <label for="q-a4">
            <img src="../Images/smiley-happy.svg" alt="smiley happy" />
        </label>  
    </div>

    <h4>Testi kysymys: Milta tuntuu tehda tata kyselya lorem ipsum sit dolor amet?</h4>

    <div class="btn-group smiley-div">
        <input type="radio" name="question-2" id="q-b1" value="1" />
        <label for="q-b1">
            <img src="../Images/smiley-angry.svg" alt="smiley angry" />
        </label>
        <input type="radio" name="question-2" id="q-b2" value="2" />
        <label for="q-b2">
            <img src="../Images/smiley-little-sad.svg" alt="smiley little sad" />
        </label>
        <input type="radio" name="question-2" id="q-b3" value="3" />
        <label for="q-b3">
            <img src="../Images/smiley-neutral.svg" alt="smiley neutral" />
        </label>
        <input type="radio" name="question-2" id="q-b4" value="4" />
        <label for="q-b4">
            <img src="../Images/smiley-happy.svg" alt="smiley happy" />
        </label>
    </div>

    <div class="btn-nav-div">
        <a class="btn btn-primary btn-lg nav-btn-prev" role="button" ng-click="previousView()">Edellinen</a>
        <a class="btn btn-primary btn-lg nav-btn-next" role="button" ng-click="setAnswers()">Seuraava</a>
    </div>
</div>