<div class="container-fluid">
    <h3 class="q-main-4 text-center">Sijoita väittämät siihen laatikkoon, jonne koet niiden kuuluvan:</h3>

    <div class="row">
        <div class="col-sm-5">
            <div class="text-center">
                <button type="button" class="btn btn-default btn-drag" id="object1" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Tilaajan tekemä aikataulutus</button>
                <button type="button" class="btn btn-default btn-drag" id="object2" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Muiden sidosryhmien töiden aikataulutus</button>
                <button type="button" class="btn btn-default btn-drag" id="object3" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Tilaajan ammattitaitoisuus</button>
                <button type="button" class="btn btn-default btn-drag" id="object4" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Muiden sidosryhmien ammattitaitoisuus</button>
                <button type="button" class="btn btn-default btn-drag" id="object5" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Väittämä 5</button>
                <button type="button" class="btn btn-default btn-drag" id="object6" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Väittämä 6</button>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="panel panel-success panel-cstm">
                <div class="panel-heading text-center panel-h-cstm to-center">Asia erinomaisessa kunnossa</div>
                <div class="panel-body drop-zone" ondragenter="drag_enter(event)" ondrop="drag_drop(event)" ondragover="return false" ondragleave="drag_leave(event)">
                </div>
            </div>
            <div class="panel panel-success panel-cstm">
                <div class="panel-heading text-center panel-h-cstm to-center">Asia melko hyvässä kunnossa</div>
                <div class="panel-body drop-zone" ondragenter="drag_enter(event)" ondrop="drag_drop(event)" ondragover="return false" ondragleave="drag_leave(event)">
                </div>
            </div>
            <div class="panel panel-warning panel-cstm">
                <div class="panel-heading text-center panel-h-cstm to-center">Asiassa jonkin verran kehitettävää</div>
                <div class="panel-body drop-zone" ondragenter="drag_enter(event)" ondrop="drag_drop(event)" ondragover="return false" ondragleave="drag_leave(event)">
                </div>
            </div>
            <div class="panel panel-warning panel-cstm">
                <div class="panel-heading text-center panel-h-cstm to-center">Asiassa paljon kehitettävää</div>
                <div class="panel-body drop-zone" ondragenter="drag_enter(event)" ondrop="drag_drop(event)" ondragover="return false" ondragleave="drag_leave(event)">
                </div>
            </div>
        </div>
    </div> <!-- row div ends -->

    <hr />

    <div class="text-center p-t-5r p-b-4r">
        <a class="btn btn-default btn-lg" href="#end" role="button">Seuraava</a>
        <p id="app_status" class="text-center pd-text p-t-3r">App status...</p>
    </div>
</div>