<h3 class="q-main text-center">Miten projekti on mielestäsi aikataulutettu:</h3>

            <div class="text-center">
                <h3 class="q-alt">Tilaajan toimesta?</h3>
                <p class="not-answered">{{answerOne}}</p>          
                <div class="btn-group-vertical" data-toggle="buttons">
                    <label class="btn btn-default btn-lg" ng-click="answerOne = 5">
                        <input type="radio" name="options"> erittäin hyvin
                    </label>
                    <label class="btn btn-default btn-lg" ng-click="answerOne = 4">
                        <input type="radio" name="options"> hyvin
                    </label>
                    <label class="btn btn-default btn-lg" ng-click="answerOne = 3">
                        <input type="radio" name="options"> kohtalaisesti
                    </label>
                    <label class="btn btn-default btn-lg" ng-click="answerOne = 2">
                        <input type="radio" name="options"> huonosti
                    </label>
                    <label class="btn btn-default btn-lg" ng-click="answerOne = 1">
                        <input type="radio" name="options"> erittäin huonosti
                    </label>
                </div>
            </div>

            <div class="text-center m-b-3r">
                <h3 class="q-alt">Muiden sidosryhmien toimesta?</h3>
                <p class="not-answered">{{answerTwo}}</p>
                <div class="btn-group-vertical" data-toggle="buttons">
                    <label class="btn btn-default btn-lg" ng-click="answerTwo = 5">
                        <input type="radio" name="options"> erittäin hyvin
                    </label>
                    <label class="btn btn-default btn-lg" ng-click="answerTwo = 4">
                        <input type="radio" name="options"> hyvin
                    </label>
                    <label class="btn btn-default btn-lg" ng-click="answerTwo = 3">
                        <input type="radio" name="options"> kohtalaisesti
                    </label>
                    <label class="btn btn-default btn-lg" ng-click="answerTwo = 2">
                        <input type="radio" name="options"> huonosti
                    </label>
                    <label class="btn btn-default btn-lg" ng-click="answerTwo = 1">
                        <input type="radio" name="options"> erittäin huonosti
                    </label>
                </div>
            </div>
            
            <div class="text-center p-t-5r p-b-3r">
                <a class="btn btn-default btn-lg" role="button" ng-click="setAnswers()">Seuraava</a>
            </div>