<div class="container">
    <div class="progress pr-bar-cstm">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
            <span class="sr-only">20% Complete</span>
        </div>
    </div>

    <p class="lead text-center p-t-4r p-b-1r">Asteikolla 1-5, minkä arvosanan antaisit työmaan työturvallisuusratkaisuista?</p>

    <div class="btn-group btn-group-justified btn-group-lg text-center" data-toggle="buttons">
        <label class="btn btn-default" ng-click="answerOne = 1">
            <input type="radio" name="options"> 1
        </label>
        <label class="btn btn-default" ng-click="answerOne = 2">
            <input type="radio" name="options"> 2
        </label>
        <label class="btn btn-default" ng-click="answerOne = 3">
            <input type="radio" name="options"> 3
        </label>
        <label class="btn btn-default" ng-click="answerOne = 4">
            <input type="radio" name="options"> 4
        </label>
        <label class="btn btn-default" ng-click="answerOne = 5">
            <input type="radio" name="options"> 5
        </label>
    </div>


    <p class="lead text-center p-t-4r p-b-1r">Asteikolla 1-5, kuinka hyvin työturvallisuussäädöksiä mielestäsi noudatetaan työmaalla?</p>

    <div class="btn-group btn-group-justified btn-group-lg text-center" data-toggle="buttons">
        <label class="btn btn-default" ng-click="answerTwo = 1">
            <input type="radio" name="options"> 1
        </label>
        <label class="btn btn-default" ng-click="answerTwo = 2">
            <input type="radio" name="options"> 2
        </label>
        <label class="btn btn-default" ng-click="answerTwo = 3">
            <input type="radio" name="options"> 3
        </label>
        <label class="btn btn-default" ng-click="answerTwo = 4">
            <input type="radio" name="options"> 4
        </label>
        <label class="btn btn-default" ng-click="answerTwo = 5">
            <input type="radio" name="options"> 5
        </label>
    </div>

    <div class="text-center p-t-5r p-b-4r">
        <a class="btn btn-default btn-lg" role="button" ng-click="setAnswers()">Seuraava</a>
    </div>
</div>