<h3 class="q-main-2 p-t-1r text-center">Kommunnikointi tilaajan kanssa on onnistunut hyvin</h3>

            <div class="text-center m-b-3r">                            
                <div class="btn-slider-text-div">
                    <p class="btn-slider-text pull-left">Täysin eri mieltä</p>
                    <p class="not-answered">{{answerOne}}</p>
                    <p class="btn-slider-text pull-right">Täysin samaa mieltä</p>
                    <div class="clearfix"></div>
                </div>         

                <form class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerOne = 1">
                        <input type="radio" id="option1">
                    </label>
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerOne = 2">
                        <input type="radio" id="option2">
                    </label>
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerOne = 3">
                        <input type="radio" id="option3">
                    </label>
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerOne = 4">
                        <input type="radio" id="option4">
                    </label>
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerOne = 5">
                        <input type="radio" id="option5">
                    </label>
                </form>
            </div>

            <h3 class="q-main-2 p-t-1r text-center">Kommunnikointi tilaajan kanssa on onnistunut hyvin</h3>
            <div class="text-center m-b-3r">            
                <div class="btn-slider-text-div">
                    <p class="btn-slider-text pull-left">Täysin eri mieltä</p>
                    <p class="not-answered">{{answerTwo}}</p>
                    <p class="btn-slider-text pull-right">Täysin samaa mieltä</p>
                    <div class="clearfix"></div>
                </div>

                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerTwo = 1">
                        <input type="radio" id="option2-1">
                    </label>
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerTwo = 2">
                        <input type="radio" id="option2-2">
                    </label>
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerTwo = 3">
                        <input type="radio" id="option2-3">
                    </label>
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerTwo = 4">
                        <input type="radio" id="option2-4">
                    </label>
                    <label class="btn btn-default btn-lg btn-slider" ng-click="answerTwo = 5">
                        <input type="radio" id="option2-5">
                    </label>
                </div>
            </div>
            
            <div class="text-center p-t-5r p-b-3r">
                <a class="btn btn-default btn-lg" role="button" ng-click="setAnswers()">Seuraava</a>
            </div>