<h2 class="text-center p-t-8r">Tervetuloa kyselyyn!</h2>
<p class="lead text-center p-t-1r line-high">Tässä kyselyssä hahmotetaan xxxx rakennusprojektin rakennusavaiheen etenemistä.
	Tavoitteena on löytää ongelmakohtia, jotta rakennusvaiheen etenemistä voidaan kehittää.</p>
<p class="lead text-center ">Vastaa kysymyksiin rehellisest.</p>

<div class="text-center p-t-5r">
	<a class="btn btn-default btn-lg" href="#questionbuttonslider" role="button">Aloita kysely</a>
	<div class="clearfix"></div>
</div>