<div class="container">
    <progress-bar></progress-bar>
    <div class="question" ng-repeat="q in $ctrl.currentQuestions">
        <p class="lead text-center q-text-8">{{ q.QuestionText }}</p>
        <div class="text-center">
            <div class="btn-slider-text-div to-center">
                <span class="btn-slider-text pull-left sm-pd-left">Täysin eri mieltä</span>
                <span class="btn-slider-text pull-right">Täysin samaa mieltä</span>
                <div class="clearfix"></div>
            </div>
            <div class="btn-group btn-slider-div" data-toggle="buttons">
                <label ng-attr-id="{{ 'cqi' +  q.ChosenQuestionIndex + '-a1' }}" class="btn btn-default btn-lg btn-slider" ng-click="$ctrl.setAnswer(1, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                    <input type="radio" id="option1">
                </label>
                <label ng-attr-id="{{ 'cqi' +  q.ChosenQuestionIndex + '-a2' }}" class="btn btn-default btn-lg btn-slider" ng-click="$ctrl.setAnswer(2, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                    <input type="radio" id="option2">
                </label>
                <label ng-attr-id="{{ 'cqi' +  q.ChosenQuestionIndex + '-a3' }}" class="btn btn-default btn-lg btn-slider" ng-click="$ctrl.setAnswer(3, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                    <input type="radio" id="option3">
                </label>
                <label ng-attr-id="{{ 'cqi' +  q.ChosenQuestionIndex + '-a4' }}" class="btn btn-default btn-lg btn-slider" ng-click="$ctrl.setAnswer(4, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                    <input type="radio" id="option4">
                </label>
                <label ng-attr-id="{{ 'cqi' +  q.ChosenQuestionIndex + '-a5' }}" class="btn btn-default btn-lg btn-slider" ng-click="$ctrl.setAnswer(5, q.QuestionSetIndex, q.ChosenQuestionIndex, q.QuestionID, q.QuestionMethodID)">
                    <input type="radio" id="option5">
                </label>
            </div>
        </div>
    </div>
    <div class="btn-next-div">
        <a id="back-button" class="btn btn-default btn-lg" ng-click="$ctrl.goBack()" role="button">Edellinen kysymys</a>
    </div>
</div>