<div class="container">

    <div class="progress pr-bar-custom">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
        </div>
    </div>

    <div class="outer-radiobutton-div">
        <h3>Mikä on ammattinimikkeesi?</h3>

        <div class="btn-group radiobutton-div">
            <ul>
                <li>
                    <input id="q-a1" type="radio" name="question-1" value="1" />
                    <label for="q-a1">
                        Rakennusmies
                    </label>
                    <div class="check"></div>
                </li>
                <li>
                    <input id="q-a2" type="radio" name="question-1" value="2" />
                    <label for="q-a2">
                        Lorem ipsum
                    </label>
                    <div class="check"></div>
                </li>
                <li>
                    <input id="q-a3" type="radio" name="question-1" value="3" />
                    <label for="q-a3">
                        Lorem ipsum dolor sit amet
                    </label>
                    <div class="check"></div>
                </li>
                <li>
                    <input id="q-a4" type="radio" name="question-1" value="4" />
                    <label for="q-a4">
                        Työmaan valvoja
                    </label>
                    <div class="check"></div>
                </li>
            </ul>
        </div>
    </div>

        <div class="btn-group nav-btn-div nav-btn-margins">
            <a class="button-primary" ng-click="previousView()">Edellinen</a>
            <a class="button-primary" ng-click="setAnswers()">Seuraava</a>
        </div>

</div>