<div class="container">

    <div class="progress pr-bar-custom">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100" style="width: 12.5%;">
        </div>
    </div>

    <div class="outer-radiobutton-div">
        <h3>Mikä on ammattinimikkeesi?</h3>

        <div class="btn-group radiobutton-div">
            <ul>
                <li>
                    <label for="q-a1">
                        <input id="q-a1" type="radio" name="question-1" value="1" />
                        Rakennusmies
                        <span class="check"></span>
                    </label>

                </li>
                <li>
                    <label for="q-a2">
                        <input id="q-a2" type="radio" name="question-1" value="2" />
                        Ammattinimike 2
                        <span class="check"></span>
                    </label>
                </li>
                <li>
                    <label for="q-a3">
                        <input id="q-a3" type="radio" name="question-1" value="3" />
                        Ammattinimike 3
                        <span class="check"></span>
                    </label>
                </li>
                <li>
                    <label for="q-a4">
                        <input id="q-a4" type="radio" name="question-1" value="4" />
                        Ammattinimike 4
                        <span class="check"></span>
                    </label>
                </li>
                <li>
                    <label for="q-a5">
                        <input id="q-a5" type="radio" name="question-1" value="5" />
                        Ammattinimike 5
                        <span class="check"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div class="btn-group nav-btn-div nav-btn-margins">
        <a class="button-primary" ng-click="start()">Edellinen</a>
        <a class="button-primary" ng-click="question2()">Seuraava</a>
    </div>

</div>