<div class="container-fluid results-bg-div">
    <div class="row results-div">

        <div class="col-xs-12 col-md-6">
            <div class="question-results-div">
                <h4>Työtyytyväisyyden kehitys</h4>
                <canvas class="chart chart-line" 
                        chart-data="chart.data"
                        chart-labels="chart.labels" 
                        chart-series="chart.series" 
                        chart-options="chart.options"
                        chart-dataset-override="chart.datasetOverride" 
                        chart-click="onClick"></canvas>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="question-results-div">
                <!--<h4>Kehitys lorem ipsum</h4>-->
               
            </div>
        </div>

    </div> <!-- row div -->

    <div class="btn-group nav-btn-div nav-btn-margins">
        <a class="button-primary block-btn" ng-click="toStart()">Alkuun</a>
    </div>
</div>