<div class="container-fluid results-bg-div">
    <div class="row results-div">

        <div class="col-xs-12 col-md-6">
            <div class="question-results-div">
                <h4>Työturvallisuuden kehitys</h4>
                <canvas class="chart chart-line"
                        chart-data="chart1.data"
                        chart-labels="chart1.labels"
                        chart-options="chart1.options"
                        chart-series="chart1.series"></canvas>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="question-results-div">
                <h4>Checkbox kysymys</h4>
                <canvas class="chart chart-bar"
                        chart-data="chart2.data"
                        chart-labels="chart2.labels"
                        chart-options="chart2.options"
                        chart-series="chart2.series"></canvas>
            </div>
        </div>


    </div> <!-- row div -->

    <div class="btn-group nav-btn-div nav-btn-margins">
        <a class="button-primary block-btn" ng-click="toStart()">Alkuun</a>
    </div>
</div>