<div class="container">

    <div class="progress pr-bar-custom">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
        </div>
    </div>

    <h3>Arvioi, milla tasolla seuraavat asiat ovat työmaalla:</h3>

    <div class="outer-rangeslider-div" id="rangeslider1">
        <h4>Työturvallisuus</h4>
        <input type="range" min="0" max="122" step="1" value="61">
        <div class="rangeslider-scale">
            <span>Huono</span>
            <span>Kohtalainen</span>
            <span>Erinomainen</span>
        </div>
    </div>

    <div class="outer-rangeslider-div" id="rangeslider2">
        <h4>Töiden aikataulutus</h4>
        <input id="slider-2" type="range" min="0" max="122" step="1" value="61">
        <div class="rangeslider-scale">
            <span>Huono</span>
            <span>Kohtalainen</span>
            <span>Erinomainen</span>
        </div>
    </div>

    <div class="btn-group nav-btn-div nav-btn-margins">
        <a class="button-primary" ng-click="previousView()">Edellinen</a>
        <a class="button-primary" ng-click="setAnswers()">Seuraava</a>
    </div>

</div>