<div class="container">

    <div class="progress pr-bar-custom">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        </div>
    </div>

    <h3 class="thanks-div">
        Kiitos vastaamisesta! Vastaukset käsitellään luottamuksellisesti.
    </h3>
    <h3>
        Siirry tuloksiin.
    </h3>



    <div class="btn-group nav-btn-div nav-btn-margins">
        <a class="button-primary block-btn" ng-click="end()">Tulokset</a>
    </div>
</div>