<div class="container">

    <div id="outer-language-div">
        <div class="select" tabindex="1">
            <input class="selectopt" name="language" type="radio" id="opt1" checked>
            <label for="opt1" class="option">Suomi</label>
            <input class="selectopt" name="language" type="radio" id="opt2">
            <label for="opt2" class="option">English</label>
            <input class="selectopt" name="language" type="radio" id="opt3">
            <label for="opt3" class="option">Eesti</label>
            <input class="selectopt" name="language" type="radio" id="opt4">
            <label for="opt4" class="option">Polski</label>
        </div>
    </div>

    <h2 class="start-title">Tervetuloa kyselyyn!</h2>
    <h4>
        Tässä kyselyssä hahmotetaan xxxx rakennusprojektin rakennusvaiheen etenemistä.
        Tavoitteena on löytää ongelmakohtia, jotta rakennusvaiheen etenemistä voidaan kehittää.
    </h4>
    <h4>Kyselyyn vastataan nimettömänä. Vastaa kysymyksiin rehellisesti.</h4>

    <div class="btn-group nav-btn-div nav-btn-margins">
        <a class="button-primary block-btn" ng-click="formatAndGo()">Aloita</a>
    </div>
</div>