<div class="container">
    <h2 class="text-center start-title">Tervetuloa kyselyyn!</h2>
    <p class="lead">
        Tässä kyselyssä hahmotetaan xxxx rakennusprojektin rakennusvaiheen etenemistä.
        Tavoitteena on löytää ongelmakohtia, jotta rakennusvaiheen etenemistä voidaan kehittää.
    </p>
    <p class="lead">Vastaa kysymyksiin rehellisesti.</p>

    <div class="btn-nav-div">
        <a class="btn btn-primary btn-lg nav-btn-start-next" role="button" ng-click="formatAndGo()">Seuraava</a>
    </div>
</div>